@media (min-width:576px) {
    .info__img img {
        display: none;
    }

    .bars-menu {
        display: none;
    }

    #toggle-menu {
        display: none;
    }

    #header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .navbar {
        display: flex;
        align-items: center;
    }

    .navbar__list {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        height: 80px;
        position: unset;
        transform: unset;
        transition: unset;
        background: transparent;
        -webkit-transform: unset;
        -moz-transform: unset;
        -ms-transform: unset;
        -o-transform: unset;
        -webkit-transition: unset;
        -moz-transition: unset;
        -ms-transition: unset;
        -o-transition: unset;
    }

    .info__descripcion h1 {
        font-size: 45px;
    }

}