@media (min-width:576px) {
    .info__img img {
        display: none;
    }

    .bars-menu {
        display: none;
    }

    #toggle-menu {
        display: none;
    }

    #header {
        display: flex;
        justify-content: space-around;
    }

    .navbar__list {
        display: block;
        justify-content: center;
        flex-direction: row;
        top: 15px;
        background: transparent;
        position: block;
    }

}