* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}

#header {
    display: flex;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: sticky;
    top: 0px;
    background: rgb(0, 0, 0);
    background: linear-gradient(54deg, rgba(0, 0, 0, 1) 0%, rgba(171, 36, 36, 1) 50%, rgba(198, 11, 11, 1) 100%);
}

body {
    background: black;
    color: white;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

/* NAVBAR */

#toggle-menu {
    display: none;
}

.menu {
    font-size: 25px;
    color: white;
    display: block;
    margin-right: 30px;
}

.navbar ul a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.navbar__list {
    height: calc(60vh - 80px);
    width: 70%;
    position: absolute;
    top: 80px;
    right: 0;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 0 0 0 5px;
    background-color: rgb(177, 161, 161);
    transform: translateX(200%);
    transition: all 0.4s ease;
}

.navbar ul {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    gap: 50px;
    padding: 15px;
}

.bars-menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}

.bars-menu span {
    height: 2px;
    width: 30px;
    background: black;
    transition: transform 0.3s;
}


#toggle-menu:checked~.bars-menu span:nth-child(1) {
    position: absolute;
    top: 0;
    transform: rotate(135deg);
}

#toggle-menu:checked~.bars-menu span:nth-child(2) {
    opacity: 0;
}

#toggle-menu:checked~.bars-menu span:nth-child(3) {
    position: absolute;
    top: 0;
    transform: rotate(225deg);
}


#toggle-menu:checked~.navbar__list {
    transform: translateX(0);
}


/* LOGO */
.navbar__logo {
    height: 60px;
    width: 60px;
    margin-left: 20px;
}

/* SECTION INFO */
#info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    background: url(https://media.tycsports.com/files/2021/06/04/290228/colon-campeon_1440x810_wmk.jpg) no-repeat center/cover;
}

.container__info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    gap: 30px;
    margin-top: 70px;
    /* background-color: rgb(177, 161, 161); */
    padding: 15px;
    border-radius: 0.5rem;
}

.container__info h1 {
    font-size: 2.3rem;
    font-family: "Open Sans";
    font-weight: 800;
    text-align: center;
    background: rgb(198, 11, 11);
    background: linear-gradient(123deg, rgba(198, 11, 11, 1) 0%, rgba(17, 14, 14, 1) 51%, rgba(198, 11, 11, 1) 100%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.container__info p {
    font-size: 1.3rem;
    font-weight: 600;
    font-family: sans-serif;
    color: black;
}

.info__descripcion {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.info__img img {
    display: none;
}


/* INFO BOTONES */

.info__botones {
    display: flex;
    gap: 15px;
    text-align: center;
}

.button-red {
    width: 7rem;
    height: 2rem;
    background: red;
    border-radius: 1rem;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-black {
    width: 7rem;
    height: 2rem;
    background: black;
    border-radius: 1rem;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-black a {
    color: red;
}

/* CARDS */

#productos {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


#productos p {
    font-size: 16px;
    font-weight: 400;
}

#productos span {
    font-weight: 800;
    font-size: 20px;
}

.productos__destacados {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.destacados__cards img {
    width: 14rem;
    height: 16rem;
    padding: 5px;
    border-radius: 0.8rem;
}

.destacados__cards {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    background: white;
}

.card__top h2 {
    display: flex;
    justify-content: start;
    font-size: 18px;
    font-weight: 800;
    color: black;
    padding: 5px;
}

.card__bot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 10px;
}

.card__bot span {
    font-weight: 600;
}

.button {
    padding: 5px;
    background: rgb(24, 24, 82);
    border-radius: 5px;
    color: white;
    border: none;
}

/* BENEFICIOS */

#beneficios {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.beneficio__aplicacion i {
    font-size: 30px;
    display: flex;
    align-items: center;
}

.beneficio__aplicacion {
    display: flex;
    gap: 10px;
    padding: 10px;
}

.beneficio__aplicacion__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 10px;
    border-left: 1px solid white;
}

.beneficio__aplicacion__text span:first-child {
    font-size: 10px;
    font-weight: 600;
}

.beneficio__aplicacion__text span {
    font-size: 10px;
}

/* TODOS LOS PRODUCTOS */

#productos-todos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.productos-title {
    font-size: 20px;
    padding: 20px;
    font-weight: 800;
}

.tipos-productos {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* max-width: 300px; */
}

.tipos-productos a {
    padding: 8px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
}

.active {
    /* background: rgb(24, 24, 82); */
    border: 3px solid rgb(24, 24, 82);
    color: rgb(0, 0, 0);
}

.cards-productos {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    align-items: center;
    max-width: 800px;
}