@media (min-width:576px) {
    .info__img img {
        display: none;
    }

    .bars-menu {
        display: none;
    }

    #toggle-menu {
        display: none;
    }

    #header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .navbar {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;

    }

    .navbar__list {
        display: flex;
        flex-direction: row; 
        height: 80px;
        width: 100%;
        margin-top: 24px;
        position: unset;
        transform: unset;
        transition: unset;
        background: transparent; 
    }

    .info__descripcion h1 {
        font-size: 45px;
    }

}